<div class="main-banner">
    <div class="owl-carousel owl-banner">
        {% for row in rows %}
            <div class="item item-{{ loop.index }}">
                <div class="header-text">
 
             
                    <h2>
                        {{ row.content['#row']._entity.title.value|raw }}
                    </h2>
                </div>
            </div>
        {% endfor %}
    </div>
</div>