abcdddd
<div class="header-contact-info">
  {% for item in items %}
    <span class="contact-item">
      {% if item.icon %}
        <i class="{{ item.icon }}"></i>
      {% endif %}
      {% if item.link %}
        <a href="{{ item.link }}">{{ item.value }}</a>
      {% else %}
        {{ item.value }}
      {% endif %}
    </span>
  {% endfor %}
</div>