{#
  Custom template for Contact Info Block
  Path: templates/block/block--contact-info-block.html.twig
#}

<div class="contact-info-block">
  <span class="contact-email">
    <i class="fas {{ email_icon }}"></i>
    {{ email }}
  </span>
  <span class="contact-location">
    <i class="fas {{ location_icon }}"></i>
    {{ location }}
  </span>
</div>
